.app{
    height: 100vh;
    widows: 100vw
}

.Grid{
    margin: 0;
    padding: 0;
    background: url(https://ak8.picdn.net/shutterstock/videos/2192218/thumb/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    width: 70vw;
    float: right;

    
    
}

.buttons{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 60vh;
        width: 70vw;
        justify-content: space-around;
        align-items: center;
        overflow: scroll;
    
}

.button{
    background: url(https://maxcdn.icons8.com/Share/icon/Animals//dog1600.png);
    height: 75px;
    width: 75px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 5px;
    border-color: black;


    
    
}
.button:hover {
background-color: rgba(255, 255, 255, 0.2) 
}

.side{
    margin: 0;
    padding: 0;
    float:left;
    height:  100vh;
    width: 26vw;
    background: black;
    position: relative;
    padding: 20px
}

.profilePic{
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background: red;
     
}

.discription{
    height: 200px;
    width: 80%;
    background: blue;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 160px;
}